.menu {
  background-color: #009933;
  padding: 10px 20px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.menu a, .menu li {
  display: inline-block;
  width: 150px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.menu h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin-left: 10px;
  margin-right: 50px;
}

#logo {
  border-radius: 100%;
}

.menu ul {
  margin-left: auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu li {
  margin: 0 10px;
} 